@@include('templates/head.html')
@@include('templates/header.html')
<div class="content">
        <p>Tenetur quae molestiae iste reprehenderit eius, id sed quidem dignissimos accusantium impedit architecto fugiat aut. Ex labore eius, tempore voluptas similique nobis.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore voluptatibus omnis eius deleniti! Soluta nemo doloremque, repudiandae possimus eius aut eaque expedita aliquam eligendi accusantium officiis unde voluptates accusamus nisi!</p>
</div>
@@include('templates/footer.html')